body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5dc; /* beige */
  color: #033f3f;
}

/* Container */
.container {
  text-align: center;
  padding: 30px;
}

/* Card */
.card {
  background: #ffffff;
  padding: 20px;
  margin: 20px auto;
  width: 320px;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

/* Headings */
h1, h2 {
  color: #0ea5a4; /* cyan */
}

/* Buttons */
button {
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  background: #0ea5a4;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #0891b2;
}

/* Inputs */
input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 85%;
  border-radius: 10px;
  border: 1px solid #ccc;
}

/* Seats */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 65px);
  gap: 12px;
  justify-content: center;
  margin-top: 25px;
}

.seat {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.available {
  background: #f5f5dc;
}

.available:hover {
  transform: scale(1.1);
}

.selected {
  background: #0ea5a4;
  color: white;
}

.booked {
  background: gray;
  cursor: not-allowed;
}
